body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
}

.oneSentence {
    display: inline;
    float: left;
}

.inputs {
    margin-left: 5px;
}

.gaps {
    display: block;
    clear: both;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.dummy {
    clear: both;
}

.items {
    margin: 40px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Arial,helvetic,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #6b4e3d;
}

a h1:hover {
    color: #31241c;
}

h2 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #666;
    margin: 5px 0;
}

a h2:hover{
    color: #333333;
}

.questions {
    width: 100%;
    padding: 20px 10px 0 10px;
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-bottom: solid 1px #aaa;
    border-right: solid 1px #aaa;
}
.questions div {
    margin-bottom: 10px;
}

.buttons, .ansLabels, .finalAnswer {
    margin-top: 10px;
    float: left;
    padding: 5px;
}

.ansLabels, .finalAnswer  {
    border: 2px solid white;
}

.finalAnswer  {
    font-weight: bold;
    text-decoration: underline;
    color: #6b4e3d;
}

.buttons {
    border-radius: 2px;
    border: 2px solid #6b4e3d;
    color: #666;
    cursor: pointer;
}

.buttons:hover {
    color: #333333;
    border-color: #31241c;
    background-color: #ece4df;
}
